# Percettrone - Test 2

In [1]:
from sklearn.model_selection import train_test_split
import lib.neuron as neuron
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./data/faces.csv")
data

      emotion                                             pixels
0           0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1           0  151 150 147 155 148 133 111 140 170 174 182 15...
2           2  231 212 156 164 174 138 161 173 182 200 106 38...
3           4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4           6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...
...       ...                                                ...
1995        0  91 115 65 53 99 78 68 90 41 31 70 97 116 129 1...
1996        2  68 48 60 66 53 47 63 77 107 117 95 95 153 201 ...
1997        5  253 253 254 247 171 144 133 145 114 74 90 111 ...
1998        0  26 26 25 25 26 26 26 28 26 27 36 61 77 72 79 7...
1999        5  123 90 67 57 53 98 104 126 120 139 153 152 147...

[2000 rows x 2 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   emotion  2000 non-null   int64
 1   pixels   2000 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.4+ KB

In [4]:
#Anger = 0 | Fear = 2

data["emotion"].unique()

array([0, 2, 4, 6, 3, 5, 1])

In [5]:
data[data["emotion"] == 0].describe()

       emotion
count    302.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0

In [6]:
data[data["emotion"] == 2].describe()

       emotion
count    307.0
mean       2.0
std        0.0
min        2.0
25%        2.0
50%        2.0
75%        2.0
max        2.0

In [7]:
num_data = data[data["emotion"].isin([0, 2])].copy()
new_data = {}

for i, string in enumerate(num_data["pixels"].values):
    pixels = np.array(string.split(" "), dtype=int)

    if i == 0:
        new_data["emotion"] = []
        for k in range(pixels.size):
            new_data[str(k)] = []

    new_data["emotion"].append(num_data["emotion"].values[i])

    for j, pixel in enumerate(pixels):
        new_data[str(j)].append(pixel)

num_data = pd.DataFrame(new_data)
num_data

,emotion,0,1,2,3,4,5,6,7,8,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,0,70,80,82,72,58,58,60,63,54,...,159,182,183,136,106,116,95,106,109,82
1,0,151,150,147,155,148,133,111,140,170,...,105,108,95,108,102,67,171,193,183,184
2,2,231,212,156,164,174,138,161,173,182,...,104,138,152,122,114,101,97,88,110,152
3,2,55,55,55,55,55,54,60,68,54,...,90,83,77,53,37,34,30,34,30,57
4,2,255,254,255,254,254,179,122,107,95,...,160,176,188,251,252,253,253,254,255,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,2,247,247,247,247,246,251,223,188,190,...,70,107,111,177,184,217,153,118,192,239
605,0,64,62,39,15,8,10,18,14,19,...,123,151,188,180,164,164,168,156,148,152
606,0,91,115,65,53,99,78,68,90,41,...,110,106,118,122,131,75,8,10,11,19
607,2,68,48,60,66,53,47,63,77,107,...,47,31,29,38,28,38,43,45,36,40
608,0,26,26,25,25,26,26,26,28,26,...,106,57,66,68,69,69,69,72,87,107

In [8]:
X_not_norm = num_data.loc[:, num_data.columns != "emotion"].copy()
X_not_norm

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,70,80,82,72,58,58,60,63,54,58,...,159,182,183,136,106,116,95,106,109,82
1,151,150,147,155,148,133,111,140,170,174,...,105,108,95,108,102,67,171,193,183,184
2,231,212,156,164,174,138,161,173,182,200,...,104,138,152,122,114,101,97,88,110,152
3,55,55,55,55,55,54,60,68,54,85,...,90,83,77,53,37,34,30,34,30,57
4,255,254,255,254,254,179,122,107,95,124,...,160,176,188,251,252,253,253,254,255,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,247,247,247,247,246,251,223,188,190,193,...,70,107,111,177,184,217,153,118,192,239
605,64,62,39,15,8,10,18,14,19,35,...,123,151,188,180,164,164,168,156,148,152
606,91,115,65,53,99,78,68,90,41,31,...,110,106,118,122,131,75,8,10,11,19
607,68,48,60,66,53,47,63,77,107,117,...,47,31,29,38,28,38,43,45,36,40
608,26,26,25,25,26,26,26,28,26,27,...,106,57,66,68,69,69,69,72,87,107

In [9]:
y = num_data["emotion"].copy()
y

0      0
1      0
2      2
3      2
4      2
      ..
604    2
605    0
606    0
607    2
608    0
Name: emotion, Length: 609, dtype: int64

In [10]:
m = X_not_norm.mean()
s = X_not_norm.std()

X = (X_not_norm - m) / s
X

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,-0.627789,-0.472649,-0.414427,-0.537834,-0.701196,-0.671162,-0.640089,-0.622895,-0.780755,-0.764209,...,0.688567,1.033986,1.011152,0.328741,-0.104021,0.034729,-0.254293,-0.127768,-0.119534,-0.464139
1,0.352403,0.385706,0.395861,0.517724,0.476380,0.344655,0.075965,0.474750,0.915454,0.909800,...,-0.111299,-0.032443,-0.233786,-0.060732,-0.159167,-0.630016,0.756501,1.000675,0.834577,0.838327
2,1.320495,1.145963,0.508055,0.632182,0.816568,0.412376,0.777979,0.945169,1.090924,1.285009,...,-0.126112,0.399893,0.572594,0.134004,0.006271,-0.168765,-0.227693,-0.361239,-0.106640,0.429710
3,-0.809306,-0.779204,-0.751008,-0.754033,-0.740448,-0.725339,-0.640089,-0.551620,-0.780755,-0.374569,...,-0.333484,-0.392723,-0.488432,-0.825769,-1.055286,-1.077701,-1.118788,-1.061651,-1.138111,-0.783371
4,1.610922,1.660976,1.742185,1.776763,1.863302,0.967689,0.230408,0.004330,-0.181232,0.188244,...,0.703379,0.947519,1.081887,1.928363,1.908801,1.893300,1.847095,1.791881,1.762900,1.744946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,1.514113,1.575140,1.642457,1.687740,1.758629,1.942873,1.648475,1.158996,1.207904,1.183991,...,-0.629731,-0.046854,-0.007434,0.899041,0.971322,1.404916,0.517103,0.027879,0.950617,1.540638
605,-0.700396,-0.693369,-0.950463,-1.262735,-1.355404,-1.321285,-1.229780,-1.321396,-1.292542,-1.096125,...,0.155323,0.587239,1.081887,0.940770,0.695593,0.685907,0.716602,0.520762,0.383308,0.429710
606,-0.373665,-0.043471,-0.626348,-0.779468,-0.164745,-0.400277,-0.527767,-0.238007,-0.970847,-1.153850,...,-0.037238,-0.061265,0.091596,0.134004,0.240640,-0.521486,-1.411386,-1.372946,-1.383085,-1.268604
607,-0.651991,-0.865039,-0.688678,-0.614139,-0.766617,-0.820148,-0.597968,-0.423323,-0.005763,0.087227,...,-0.970415,-1.142105,-1.167489,-1.034416,-1.179364,-1.023436,-0.945889,-0.918975,-1.060751,-1.000449
608,-1.160239,-1.134808,-1.124987,-1.135560,-1.119889,-1.104577,-1.117458,-1.121825,-1.190184,-1.211574,...,-0.096487,-0.767414,-0.644050,-0.617123,-0.614120,-0.602884,-0.600091,-0.568768,-0.403188,-0.144907

In [11]:
training_set_X, test_set_X, training_set_y, test_set_y = train_test_split(X, y, train_size = 0.7, random_state = 0)

In [12]:
n = neuron.Neuron(len(X.columns), 0.17, lambda x: 2 if np.arctan(x) > 0 else 0, lambda x: 1 / (1 + x ** 2))
n.fit(training_set_X.values, training_set_y.values, 100)

In [13]:
input_data = test_set_X.values
expeted_output_data = test_set_y.values

print(n.score(input_data, expeted_output_data))

0.5355191256830601